.Form-popup {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .Form-container {
    max-width: 800px;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .left-side,
  .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-box {
    text-align: center;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .signup-button {
    background-color:  #8AC1AE;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .signup-button:hover {
    background-color: #45a049;
  }
  
  .right-side {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
  }
  