.head-container {
  text-align: center;
  background-image: url("components/Images/healthcare.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
body.dark-mode .head-container{
  background-image: url("components/Images/healthcareDarkMode.jpeg");
}
